.sidebar {
  padding: 20px;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #444;
}

.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-bottom: 4px;
}

.menuLink {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  display: block;
  padding: 10px 16px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.menuLink:hover {
  background-color: #444;
  color: #fff;
}

/* Активний стан */
.menuLink.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-weight: 600;
}

.menuLink.active:hover {
  background-color: #0b5ed7;
}
